.input-component {

    .weather-input {
        border: 1px solid black;
    }

    .submit {
        height: 58px;
        background: white;
        color: black;
        border: 1px solid black;
    }
}